/* ---------------
COMMON STYLES
------------------ */
:root {
  --primary-color: #3f87f5;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
header,
section {
  margin-bottom: 8rem;
}
/*----------------
 COMPONENT STYLES
 -----------------*/

/* Header Styles */

.nav-link {
  font-weight: 600;
}
.nav-logo {
  font-weight: 500;
}

/* .carousel {
  position: relative !important;
}
.carousel-item {
  min-height: 80vh;
  max-height: 90vmin;
}
.carousel-item img {
  filter: blur(5px) grayscale(20%) !important;
}

.carousel-item::after {
  content: "";
  display: block;
  clear: both;
}
.banner-details {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.slide-item {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.55) 21.92%,
      rgba(0, 0, 0, 0.418) 160.04%,
      rgba(0, 0, 0, 0.121) 160.06%
    ),
    url(../resources/images/banner.png);
  background-position: center;
  min-height: 82vh;
  max-height: 84vh;
}
.main-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.8px;
}
.main-description {
  line-height: 1.5;
}
.header-btn {
  background-color: #fff;
  padding: 0.75rem 3rem;
  font-weight: 700;
  border-radius: 4px;
  transition: transform 0.2s ease-in, hover 0.2s ease-in;
}
.header-btn:hover {
  transform: scale(1.12);
}

/* Package Styles */
.package-benefits {
  list-style: none;
  padding-left: 0;
}
/* .package-benefits li::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url(../resources/icons/circle-wavy-check.svg);
} */

#package-section {
  padding: 0 !important;
}
.package-container {
  gap: 1.75rem;
}
.package-item {
  transition: transform 0.2s ease-out;
}
.package-item:hover {
  transform: translateY(-8px);
  box-shadow: 0px 42px 34px rgba(0, 0, 0, 0.09);
}
.package-active:hover {
  box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}

.icon {
  margin-right: 12px;
}
.price-btn {
  background: #f496d217;
  mix-blend-mode: normal;
  border-radius: 24px;
  padding: 0.75rem 4rem;
  cursor: pointer;
}
.active-btn {
  background: #fff;
  mix-blend-mode: normal;
  border-radius: 24px;
  padding: 0.75rem 4rem;
  cursor: pointer;
}

/* Footer Styles */
footer {
  background-color: #0b0d17;
}
footer .social-icons {
  gap: 8px;
}
footer .social-icons .icon {
  font-size: 20px;
  color: lightgray;
  cursor: pointer;
  transition: all 0.2s;
}
footer .social-icons .icon:hover {
  transform: scale(0.9);
  color: rgb(173, 173, 173);
}
footer a {
  padding-bottom: 4px;
}
footer a:hover {
  color: lightgray !important;
}
footer p {
  color: #d9dbe1;
}
footer small {
  display: block;
  color: rgba(162, 160, 160, 0.649);
}
