/* ---------------
COMMON STYLES
------------------ */
:root {
  --primary-color: #3f87f5;
}
body {
  font-family: "Montserrat", sans-serif;
}
header,
section {
  margin-bottom: 8rem;
}
/*----------------
 COMPONENT STYLES
 -----------------*/

/* Header Styles */

.nav-link {
  font-weight: 600;
}
.nav-logo {
  font-weight: 500;
}

/* To change the height of slider image..though it's using '! important' totally avoided but here to override some bootstrap styles i had to use this for practice purpose */
.carousel-innger {
  position: relative !important;
}
.carousel-item {
  min-height: 80vh;
  max-height: 82vh;
}
.carousel-item img {
  filter: blur(5px) grayscale(20%) !important;
}
/* Here i had to clear the float gave bootstrap to control the height of carousel images */
.carousel-item::after {
  content: "";
  display: block;
  clear: both;
}
.banner-details {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.8px;
}
.main-description {
  line-height: 1.5;
}
.header-btn {
  background-color: #fff;
  padding: 0.75rem 3rem;
  font-weight: 700;
}

/* Package Styles */
.package-benefits {
  list-style: none;
  padding-left: 0;
}
/* .package-benefits li::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url(../resources/icons/circle-wavy-check.svg);
} */
.icon {
  margin-right: 12px;
}
.price-btn {
  background: #f496d217;
  mix-blend-mode: normal;
  border-radius: 24px;
  padding: 0.75rem 4rem;
  cursor: pointer;
}
.active-btn {
  background: #fff;
  mix-blend-mode: normal;
  border-radius: 24px;
  padding: 0.75rem 4rem;
  cursor: pointer;
}

/* Reviews Styles */
